.tab-pane {
  display: none;  
}

.tab-pane.active {
  display: block;
  opacity: 1;
  transition-property: opacity;
  
}

.tabs *.active {
  font-weight: bold;
}

.tab-pane.transitioning {
  display: block;
  opacity: 0;
  transition-property: opacity;
}